<div>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <br />
  <div>
    <%= f.label :author %>
    <%= f.text_field :author%>
  </div>
  <br />
  <div>
    <%= f.label :price %>
    <%= f.text_field :price%>
  </div>
  <br />
  <div>
    <%= f.label :published_date %>
    <%= f.date_field :published_date%>
  </div>
</div>

<br />